<div class="container">
  <div ng-include="'views/partials/nav.html'"></div>

  <p>
    Add some ingredients
  </p>

  <form name="ingredientsForm" ng-submit="ingredients.addIngredient(ingredients.ingredient)">
    <input type="text" placeholder="ingredient" ng-model="ingredients.ingredient.name">
    <input type="submit" value="Submit">

  <div layout="column" layout-align="center center" style="min-height: 300px;" class="selectdemoValidations">
    <p>Select Ingredients You Have</p>
    <md-select multiple="{{false}}" placeholder="Ingredients" ng-model="myModel">
      <md-option ng-value="ingredient.ingredient" ng-repeat="ingredient in ingredients.list">{{ ingredient.ingredient }}</md-option>
    </md-select>
  {{myModel}}
<!-- <md-button ng-click="clear()">Clear</md-button> -->
<md-button ng-click="submit()">Submit</md-button>
  <div class="infoContainer">
    <!-- <p>{{ingredients.infoFromApi.response.data}}</p> -->
  <div ng-value="title.title" ng-repeat="title in ingredients.infoFromApi.response">{{ title.title }}</div>
  </div>
</div>
  </form>
</div>
