<div class="container">
  <div layout="column" layout-align="center center" style="min-height: 300px;" class="selectdemoValidations">
    <div ng-include="'views/partials/nav.html'"></div>
    <h2 class="md-display-2">Welcome, {{userObject.userName}}!</h2>
      <p class="md-subhead">If you have groceries at home, but aren't sure what recipes you can make, Recipe Generator can help you out! Get relevant recipes based on ingredients you have, and instructions to make them! Click the <b>Find By Ingredients</b> Tab to get started!</p>
    <md-button ng-click="logout()">Log Out</md-button>
  </div>
</div>
