h2 {
  color: #474646;
  text-align: center;
}

h3 {
  color: #474646;
}

h4 {
  color: #474646;
}

p {
  color: #474646;
}

.display-3 {
  font-size: 60px;
  color: #474646;
  text-align: center;
}

.navBar {
  width: 670px;
}

.md-button {
  color: #1976D2;
}

.intro {
  text-align: center;
}

.btn {
  text-align: center;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.btn-danger{
    margin-left: 10px;
}

.infoContainer {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  float: left;
  float: right;
}

.learnMoreBtn {
  margin-bottom: 20px;
}

/*.pageLink {
  font-size: 20px;
}*/
