h2 {
  color: #474646;
}

h3 {
  color: #474646;
}

h4 {
  color: #474646;
}

.display-3 {
  font-size: 60px;
  color: #474646;
  text-align: center;
}

.navBar {
  width: 670px;
}

.md-button {
  color: #1976D2;
}

.intro {
  text-align: center;
}

.instructions .container h1 {
    font-size: 35px;
    font-weight: 700;
}

.btn {
  text-align: center;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

/*.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}*/

.btn-danger{
    margin-left: 10px;
}

.infoContainer {
  /*width:33%;*/
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  float: left;
  float: right;
}

.learnMoreBtn {
  margin-bottom: 20px;
}

.pageLink {
  font-size: 20px;
}
