<ul class="nav nav-tabs responsive" id="myTab">
  <li><a href="#/user">User Home</a></li>
  <li><a href="#findByIngredients">Find By Ingredients</a></li>
  <li><a href="#recipeResults">Recipe Results</a></li>
  <li><a href="#recipeDetails">Recipe Details</a></li>
</ul>




<!-- <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-click="goto('#/user')" name="userHome">User Home</md-nav-item>
  <md-nav-item md-nav-click="goto('#findByIngredients')" name="findByIngredients">Find By Ingredients</md-nav-item>
</md-nav-bar> -->
  <!-- <md-nav-item md-nav-href="#/user" name="userHome">User Home</md-nav-item>
  <md-nav-item md-nav-sref="#/findByIngredients" name="findByIngredients">Find By Ingredients</md-nav-item>
  <md-nav-item md-nav-sref="#/recipeResults" name="recipeResults">Recipe Results</md-nav-item>
  <md-nav-item md-nav-sref="#/recipeDetails" name="recipeDetails">Recipe Details</md-nav-item> -->
  <!-- <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
    Page Four
  </md-nav-item>
</md-nav-bar>
