<div class="container">
  <div ng-include="'views/partials/nav.html'"></div>
  <div layout="column" layout-align="center center" style="min-height: 300px;" class="selectdemoValidations">

  <h1>Find By Ingredients</h1>

  <!-- Add Ingredients -->
  <p>Add some ingredients</p>
  <form name="AddIngForm" ng-submit="recipe.addIngredient(recipe.ingredient)">
    <input type="text" placeholder="ingredient" ng-model="recipe.ingredient.name">
    <input type="submit" value="Submit">
  </form>

  <!-- Find Recipes By Ingredients -->
  <p>Select Ingredients You Have</p>
  <md-select multiple="{{false}}" placeholder="Ingredients" ng-model="selectedIng">
    <md-option ng-value="recipe.ingredient" ng-repeat="recipe in recipe.list">{{ recipe.ingredient }}</md-option>
  </md-select>

  <!-- on submit user is redirected to the recipe Results page -->
  <a href="#recipeResults"><md-button ng-click="findRecipes()">Find Recipes</md-button></a>
  </div> <!-- end div layout column -->
</div>  <!-- end div container -->
