<div class="container">
  <div ng-include="'views/partials/nav.html'"></div>

  <!-- Adding Ingredients -->
  <p>Add some ingredients</p>
  <form name="ingredientsForm" ng-submit="ingredients.addIngredient(ingredients.ingredient)">
    <input type="text" placeholder="ingredient" ng-model="ingredients.ingredient.name">
    <input type="submit" value="Submit">
  </form>
  <div layout="column" layout-align="center center" style="min-height: 300px;" class="selectdemoValidations">

  <!-- Find Recipes By Ingredients -->
  <p>Select Ingredients You Have</p>
  <md-select multiple="{{false}}" placeholder="Ingredients" ng-model="selectedIng">
    <md-option ng-value="ingredient.ingredient" ng-repeat="ingredient in ingredients.list">{{ ingredient.ingredient }}</md-option>
  </md-select>
  <md-button ng-click="submit()">Find Recipes</md-button>

  <!-- Display Info From API -->
  <div class="infoContainer">
  <div id="imgContainer" ng-value="image.image" ng-repeat="image in ingredients.infoFromApi.response">
    <p class="recipeTitles">{{image.title}}</p>
    <img class="image" ng-src="{{ image.image }}"/>
      <!-- Learn More Buttons -->
      <form name="learnMoreForm" ng-submit="ingredients.learnMore(image.id)">
        <input type="submit" value="Learn More">
      </form>
  </div>  <!-- end imgContainer -->
  </div>
</div>
  <!-- </form> -->
</div>
