<div class="container">
  <div layout="column" layout-align="center center" style="min-height: 300px;" class="selectdemoValidations">
  <div ng-include="'views/partials/nav.html'"></div>
  <h2>Recipe Results</h2>

  <!-- Display Info From API -->
  <div class="infoContainer">
    <div id="imgContainer" ng-value="image.image" ng-repeat="image in recipe.infoFromApi.response">
      <p class="recipeTitles">{{image.title}}  </p>
      <img class="image" ng-src="{{ image.image }}"/>

      <!-- Learn More Buttons -->
      <a href="#recipeDetails"><md-button ng-click="recipe.learnMore(image.id)">Learn More</md-button></a>
    </div>  <!-- end imgContainer -->
  </div> <!-- end infoContainer -->
  </div>
</div>
