<div class="navBar" ng-controller="navController as vm">

<!-- <ul class="nav nav-tabs responsive" id="myTab">
  <li><a href="#/user">User Home</a></li>
  <li><a href="#findByIngredients">Find By Ingredients</a></li>
  <li><a href="#recipeResults">Recipe Results</a></li>
  <li><a href="#recipeDetails">Recipe Details</a></li>
</ul> -->

  <a ng-href="#!home"></a>
  <!-- <h1 class="navBar">Recipe Generator</h1> -->
  <p class="navBar"></p>

  <md-tabs class="md-primary" md-autoselect="false" md-no-pagination="false" md-center-tabs="false">
    <md-tab label="User Home" md-on-select="vm.go('/user')" md-active="vm.state == '/user'"></md-tab>
    <md-tab label="Find By Ingredients" md-on-select="vm.go('/findByIngredients')" md-active="vm.state == '/findByIngredients'"></md-tab>
    <md-tab label="Recipe Results" md-on-select="vm.go('/recipeResults')" md-active="vm.state == '/recipeResults'"></md-tab>
    <md-tab label="Recipe Details" md-on-select="vm.go('/recipeDetails')" md-active="vm.state == '/recipeDetails'"></md-tab>
  </md-tabs>

</div>










<!-- <md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item ng-href="#user" name="userHome">User Home</md-nav-item>
  <md-nav-item ng-href="#findByIngredients" name="findByIngredients">Find By Ingredients</md-nav-item>
</md-nav-bar> -->
